body, html {
  margin: 0px;
  padding: 0px;

}
.opacity-layer{
  position: absolute;

  /*background-color: #939222;*/
  /*background-color: pink;*/
  opacity: 0.20;
  width:100%;
  height:100%;

}

.textbox{
  /*margin:20px;*/
  padding: 30px;
  font-family: Courier;
  position: absolute;
  top:100px;
  left:100px;
  background-color: #f8f8f8;
  width: 150px;
  height: 150px;
  /*text-align: center;*/




}
#text2{
  top:110px;
  left:110px;
  background-color: #fff;
  opacity: 0.4;



}



#main{
  top:100px;
  left:460px;
  width: 600px;
  height: 400px;

  /*background-color: #eeeeee;*/
  /*opacity: 0.5;*/



}
#text3{
  top:110px;
  left:470px;
  width: 600px;
  height: 400px;


  background-color: #fff;
  opacity: 0.4;

}

/* unvisited link */
a:link {
    /*color: #62af5b;*/
    color: blue;
    text-decoration: none;

}

/* visited link */
a:visited {
    /*color: #62af5b;*/
    color: blue;

    text-decoration: none;

}

/* mouse over link */
a:hover {
    /*color: #99ccff;*/
    color: darkblue;

    text-decoration: underline;

}

/* selected link */
a:active {
    color: blue;
}
Try it Yourself »
